NODE_ENV="development"
DB_NAME="awesome-default-db"
MONGODB_URI="mongodb://127.0.0.1:27017"
JWT_SECRET="jwt-super-secret"
NEXTAUTH_SECRET="some-super-secret"
HOST="http://localhost:3000"
NEXTAUTH_URL="${HOST}"

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=testbucket
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_ENDPOINT=http://minio:9000
